'.text.html, .text.css':
  'editor':
    'completions': [
      #Snippets
      'button'
      'primary-link'
      'button-external'
      'button-secondary'
      'secondary-link'
      'button-external-secondary'
      'link'
      'label-information'
      'label-success'
      'label-warning'
      'label-error'
      'blockquotes'
      'p-quote'
      'r-quote'
      'inline-logo'
      'list-step'
      'table'
      'hero'
      'video-container'

      #Grid System

      'row'
      'twelve-col'
      'eleven-col'
      'ten-col'
      'nine-col'
      'eight-col'
      'seven-col'
      'six-col'
      'five-col'
      'four-col'
      'three-col'
      'two-col'
      'one-col'
      'last-col'
      'prepend-two'
      'append-three'
      'append-four'
      'append-two'
      'append-one'
      'append-five'
      'grid-list__item'
      'grid-list__img'
      'row-grey'


      #Classes
      'no-border'
      'no-padding-bottom'
      'equal-height'
      'equal-height__item'
      'equal-height__align-vertically'
      'align-center'
      'no-bullets'
      'equal-height--vertical-divider'
      'equal-height--vertical-divider__item'
      'button--primary'
      'button-secondary'
      'has-information'
      'has-success'
      'has-warning'
      'has-error'
      'pull-quote'
      'row-quote'
      'list-ticks'
      'last-item'
      'inline-list'
      'external'
      'inline-logos__image'
      'list-step'
      'list-step__item'
      'list-step__title'
      'list-step__bullet'
      'row-hero'
      'left'
      'right'
      'link-top'
      'no-margin-bottom'
      'accessibility-aid'
      'priority-0'
      'for-medium'
      'for-small'
      'global'
      'clearfix'
      'no-global'
      'legal'
      'has-cookie'
      'clear'
    ]
